# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

#Documentation of ext. libraries
*.html
*.js
*.css

/x64/
.vs/
Engine/x64/
Sandbox/x64/